*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*NAV Y FOOTER PARA TODAS LAS PAGINAS*/
.navbar{
    background-color: #f3dbc362 !important;
}

.navbar img{
    width: 7%;
    margin-top: .5rem;
}

.navbar a{
    font-size: 1.5rem;
}

footer{
    background-color: #f3dbc3ef;
    padding: 1em 0 0 2em;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

/*PAG PRINCIPAL*/

.main_index{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/fondomadera.jpg);
}

.main_index section{
    margin: 15em 2em;
    background-color: #f3dbc3ef;
    padding: 1em;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.33);
    align-items: center;
}


.main_index p{
    letter-spacing: 4px;
    font-size: 1.4em;
}

.imagenes{
    width: 30%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-template-rows: 200px 100px;
    grid-gap: 10px;
}

.imagenes .box-img figure{
    width: 100%;
    height: 100%;
    border: 1px black solid;
}

.imagenes .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenes .box-img img:hover{
    opacity: .8;
}

.imagenes .box-img:nth-child(1){
    grid-column-start: span 2;
}

.imagenes .box-img:nth-child(2){
    grid-row-start: span 2;
}

.imagenes .box-img:nth-child(3){
    grid-column-start: span 1;
}

.slide{
    width: 50%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width:991.25px){
    nav a img{
        display: none;
    }

    .main_index section{
        margin: 2em;
    }
}

@media screen and (max-width:1200px) {
    .imagenes{
        width: 100%;
    }
    
}

/**NOSOTROS**/
.main_nos h2{
  margin: 1rem;
}


/**CATALOGO**/

.main_cat{
    height: 100%;
}

.main_cat section{
    overflow: hidden;
    overflow-y: auto;
}



/**CONTACTO**/

.main_contacto{
    align-items: center;
}

form{
    height: 100%;
    padding: 2em;
    margin: 1em;
}






/**UBICACION**/

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.253);
    margin: 2em; 
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
}

.card iframe{
    height: 50vh;
}

.card p{
    font-size: 1.5em;

}

.ubicacion{
    background-image: url(../img/ubicacion3.jpg);
    background-repeat: no-repeat;
    background-size: small;
}