#contacto{
    text-align: center;
    margin: 2em auto;
}
.main_contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
}
.informacion{
    @include flex-col;
    justify-content: space-between;
    padding: 4em;
    height: 100%;
    margin: 1.5em;
    border-left: .2em solid #ccc;
    h2{
        margin-bottom: 1em;
    }
    span{
        width: 100%;
        border-bottom: .15em solid #ccc;
        margin-bottom: 10%;
        padding: 1em;
    }
    a{
        text-decoration: none;
        font-size: 1.7em;
        color: black;
        font-family: 'Josefin Sans', sans-serif;
        float: left;
        i{
            color: black;
            font-size: 1.2em;
            margin-right: .5em;
            float: left;
            padding-left: 1em;
        }
    }
}
/* FORMULARIO */
.form{
    width: 100%;
    height: 100%;
    padding: 2em;
    margin: 1em auto;
    box-shadow: $sombra;
    background-color: rgba(255, 255, 255, 0.301);
    input{
        border: none;
        border-bottom: .15em solid #cccc;
        margin: 1em auto;
    }
    select{
        border: none;
        border-bottom: .15em solid #cccc;
    }
    label{
       margin-bottom: 1em;
    }
}

/* BOTON DE ENVIAR Y RESET */
.btn--enviar{
    margin: .3em;
    padding: .5em;
    font-size: 1em;
    border-radius: .3em;
    border: .5px solid #ccc;
    &:hover{
        background-color: black;
        color: white;
        transition: all .5s ease;
    }
}

.btn--reset{
    @extend .btn--enviar;
    }
/* --------------------------- */

.informacion{
    @include flex-col;
}