/*PAG PRINCIPAL*/
.main_index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NOSOTROS */
.main_nos{
    h1{
        margin: .5em 0 0 1em;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }
    h2{
        margin: 1em 0 0 1em;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2em;
        }
    p{
        font-family: 'Josefin Sans', sans-serif;
        }
}

.section_nos{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    img{
        border-radius: $redondo;
    }
}
.card{
    width: 60%;
}
/**CATALOGO**/

.main_cat{
    *{
        font-family: 'Josefin Sans', sans-serif;
    }
    h1{
        margin: .5em .5em;
        font-size: 3em;
        text-align: center;
    }
    h3{
        margin: 2em;
        color: #555;
    }
}

.ropa{
    display: flex;
    flex-wrap: wrap;

 figure
        {
    width: 23%;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 2em;
    text-align: center;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.288);
    margin: 2em auto;
    img
    {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
        }
    figcaption
    {
        font-size: 1.3em;
        letter-spacing: .02em;
    }


    }

/* UBICACION */

.ubicacion{
    
    h1{
        margin: .5em;
        font-family: 'Josefin Sans', sans-serif;
    }
    p{
        font-family: 'Josefin Sans', sans-serif;
    }
}

/**CONTACTO**/
.main_contacto{
    h1{
        margin: .5em;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        font-weight: 600;
        font-size: 2.2em;
    }
}