.navbar{
    background-color: map-get($paletalogo , marron1 ) !important;


         img{
            width: 7%;
            margin-top: .5rem;

            a{
    font-size: 1.5rem;
            }
    }
} 
    footer{
        background-color: map-get($paletalogo , marron2 );
        padding: 0;
        height: 18vh;
        padding-top: 1.5em;
        box-sizing: content-box;
    
        ul{
        list-style: none;
    
         }
        a{
        text-decoration: none;
        color: black;
        font-size: 1em;
        }
        
}