/* CONFIGURAR NAVBAR */
.navbar{
    background-color: map-get($paletalogo , marron1 ) !important;


         img{
            width: 7%;
            margin-top: .5rem;
        }
} 


.navbar-brand{
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Nanum Gothic', sans-serif;
}

.nav-item{
    a{
        font-size: 1.2em;
    }
}

/* CONFIG DEL FOOTER */

    footer{
        background-color: map-get($paletalogo , marron2 );
        padding: 0;
        height: 18vh;
        padding-top: 1.5em;
        box-sizing: content-box;
    
        ul{
        list-style: none;
    
         }
        a{
        text-decoration: none;
        color: black;
        font-size: 1em;
        }
        
}