/* COLOCO LAS VARIABLES */
$sombra:0 35px 80px rgba(0, 0, 0, 0.15);
$redondo: .5em;
$paletalogo:(
    marron1:#f3dbc362,
    marron2: #f3dbc3ef,
    marron3: #ffdea1,
);
/* MIXIN PARA TAMAÑOS */
@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}